* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f3ee;
    padding: 30px;
}

.container {
    max-width: 700px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
}

input, select, button {
    padding: 10px;
    border : 1px solid #ccc;
    border-radius: 5px;
}
